*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;    
}


#first{
    padding: 15px;
    margin: 15px;

}

h1{
    color: red;
    padding: 1.5rem 3rem;
    font-size: 40px;
}

.top{
    color: rgb(92, 19, 19);
    padding: 0.5rem 0.5rem;
    font-size: 25px;  
}

.likes{
    list-style-type: circle;
    padding: 1rem;
}

.like, .dis{
    padding: 0.5rem;
    margin-left: 1.5rem;
}

.dislikes{
    list-style-type: upper-roman;
    padding: 1rem;
}