*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}

.user_card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(3, 100, 87);
    height: 630px;
    width: 450px;
    position: relative;
    top: 80px;
    left: 450px;
    border-radius: 25px;
}

.header{
    display: flex;
    flex-direction: wrap;
    padding-top: 25px;
}

.arrow{
    flex: 70%;
    padding-left: 30px ;
}

.heart{
    padding-right: 30px ;
    justify-content: space-between;
}

.arrow i, .heart i{
   font-size: 15px;
   color: #fff;
}

.main{
    padding: 55px 0 30px 0;
}

.image{
    text-align: center;
}

.image img{
    border-radius: 50%;
}

.content{
    text-align: center;
    color: #fff;
    padding-top: 15px;
    font-size: 14px;
}

.content .one{
    font-size: 17px;
}

.content .two{
    font-size: 14px;
}

.content .three{
    font-size: 13px;
    margin: 3px 0;
}

.Button{
    display: inline-block;
    background: linear-gradient(to right, rgb(212, 117, 54), rgb(36, 91, 99));
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 23px;
    margin-top: 3px;
    border-radius: 50px;
    border: 2px solid none;
    text-decoration: none;
    transition: all 0.3s ease;
}

hr{
    position: relative;
    width: 90%;
    left: 20px;
}

.footer{
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    margin: 12px 50px;

    
}

.linked img, .twitter img, .insta img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.linked, .twitter, .insta {
    align-items: center;
    text-align: center;
    color: white;
}

