*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.user_card{
    background-color: rgb(3, 100, 87);
    height: 590px;
    width: 450px;
    position: relative;
    top: 80px;
    left: 450px;
    border-radius: 25px;
}

.header{
    display: flex;
    flex-direction: wrap;
    padding-top: 30px;
}

.arrow{
    flex: 70%;
    padding-left: 30px ;
}

.heart{
    padding-right: 30px ;
    justify-content: space-between;
}

.arrow i, .heart i{
   font-size: 20px;
   color: #fff;
}

.main{
    padding: 75px 0 30px 0;
}

.image{
    text-align: center;
}

.image img{
    border-radius: 50%;
}

.content{
    text-align: center;
    color: #fff;
    padding-top: 15px;
    font-size: 18px;
}

.content .one{
    font-size: 25px;
}

.content .two{
    font-size: 20px;
}

.content .three{
    font-size: 17px;
    margin: 5px 0;
}

.Button{
    display: inline-block;
    background:rgb(189, 29, 77);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 35px;
    margin-top: 20px;
    border-radius: 50px;
    border: 2px solid rgb(189, 29, 77);
    transition: all 0.3s ease;
}
