*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 660px;
    width: 300px;
    position: relative;
    top: 40px;
    left: 450px;
    border-radius: 20px;
}

.header{
    padding-top: 30px;
    margin: 10px 20px;
}

.info{
    margin-top: 10px;
    font-size: 20px;
}

.main{
    padding: 70px 20px;
}

.title{
    font-size: 60px;
    color: rgb(44, 44, 44);
}